
Aufgabe 1
1.	Importieren Sie die erforderlichen Bibliotheken
2. Welche Variablen sind im Datensatz verfügbar?
3. Spaltennamen übersetzen
4. Exploren Sie die Daten
5. Cleaning Sie die Daten
6. Füllen Sie den Nan-Wert mit dem mean
7. Entfernen doppelter Werte
8. Welche Variablen sind numerisch?
9. Welche Variablen sind kategorisch?
10. ÜBERPRÜFEN Sie die value_counts für jeder Variablen
11. Visualisierung der Daten:
• Zeigen Sie ein Diagramm für alle Variablen an
12. Erkennung und Entfernung von Ausreißern (Outliers)
13. Wer ist der ältere Kontakt?
15. Überprüfen Sie die Normalitätsverteilung
16. Überprüfen Sie die Korrelation mit der Bibliothek Seaborn und mit der Bibliothek Klib
17. Splitting des Modells
18. Trainieren und testen Sie den Satz mit der Test_size = 0,3
19. Führen Sie das Modell mit sklearn aus: lineare Regression, knn-Regression
20. Plot the actual value und the predicted value
21. Determinate the mean square errors and r square for each model

AUFGABE 2
1. Überprüfen Sie die Stationarität für jede Variable mit ADF und KPSS
2. Führen Sie das lineare Regressionsmodell aus



-

TASK 1

1. Import the required libraries.
2. Identify the available variables in the dataset.
3. Translate column names.
4. Explore the data.
5. Clean the data.
6. Fill NaN values with the mean.
7. Remove duplicate values.
8. Identify numerical variables.
9. Identify categorical variables.
10. CHECK the value_counts for each variable.
11. Visualize the data:
   - Display a chart for all variables.
12. Detect and remove outliers.
13. Determine the older contact.
15. Check for normality distribution.
16. Check the correlation using Seaborn and Klib libraries.
17. Split the dataset.
18. Train and test the set with Test_size = 0.3.
19. Execute the model using sklearn: linear regression, knn-regression.
20. Plot the actual value and the predicted value.
21. Determine the mean square errors and r-square for each model.

TASK 2

1. Check stationarity for each variable using ADF and KPSS.
2. Execute the linear regression model.


-

1. Import the required libraries.

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

2. Identify the available variables in the dataset.

In [84]:
file_path = 'Germany.xlsx'
df = pd.read_excel(file_path, sheet_name='Tabelle1', skiprows=1)
df.head()

,Series Name,"Inflation, consumer prices (annual %)",Market capitalization of listed domestic companies (% of GDP),Real effective exchange rate index (2010 = 100),GDP growth (annual %),Gross fixed capital formation (% of GDP),"Personal remittances, paid (current US$)","Foreign direct investment, net outflows (BoP, current US$)"
0,1997,1.939369,37.307261,110.190012,1.792161,22.650639,9473507979.141439,49529035003.912102
1,1998,0.911185,48.872578,110.367325,2.013933,22.798225,9108082670.55018,97004412840.271698
2,1999,0.585433,65.248414,106.891468,1.887261,23.038680,10088645451.1654,139402049693.11499
3,2000,1.440268,65.208158,99.680307,2.912503,23.114329,8662856855.468519,98172100562.192001
4,2001,1.983857,55.080363,99.664381,1.681468,21.778195,9184539370.74823,70242086898.7686

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Series Name                                                    25 non-null     int64
 1   Inflation, consumer prices (annual %)                          25 non-null     float64
 2   Market capitalization of listed domestic companies (% of GDP)  25 non-null     object
 3   Real effective exchange rate index (2010 = 100)                25 non-null     float64
 4   GDP growth (annual %)                                          25 non-null     float64
 5   Gross fixed capital formation (% of GDP)                       25 non-null     float64
 6   Personal remittances, paid (current US$)                       25 non-null     object
 7   Foreign direct investment, net outflows (BoP, current US$)     25 non-null     object
dtypes: float64(4), int64(1), object(3)
memory usage: 1.7+ KB

In [86]:
df.describe()

,Series Name,"Inflation, consumer prices (annual %)",Real effective exchange rate index (2010 = 100),GDP growth (annual %),Gross fixed capital formation (% of GDP)
count,25.000000,25.000000,25.000000,25.000000,25.000000
mean,2009.000000,1.451473,101.080698,1.255694,20.710421
std,7.359801,0.706022,5.317624,2.291136,1.256366
min,1997.000000,0.312738,92.539195,-5.693836,19.076699
25%,2003.000000,0.911185,97.023625,0.731707,19.901471
50%,2009.000000,1.504721,99.680307,1.681468,20.302966
75%,2015.000000,1.939369,105.881615,2.680231,21.778195
max,2021.000000,3.142970,110.367325,4.179882,23.114329

3- Spaltennamen übersetzen

In [89]:

# German translation dictionary
translate_dic = {
    'Series Name': 'Name der Serie',
    'Inflation, consumer prices (annual %)': 'Inflation, Verbraucherpreise (jährlich %)',
    'Market capitalization of listed domestic companies (% of GDP)': 'Marktkapitalisierung der gelisteten inländischen Unternehmen (% des BIP)',
    'Real effective exchange rate index (2010 = 100)': 'Realer effektiver Wechselkursindex (2010 = 100)',
    'GDP growth (annual %)': 'Wirtschaftswachstum (jährlich %)',
    'Gross fixed capital formation (% of GDP)': 'Bruttoanlageinvestitionen (% des BIP)',
    'Personal remittances, paid (current US$)': 'Persönliche Überweisungen (aktuelle US$)',
    'Foreign direct investment, net outflows (BoP, current US$)': 'Direktinvestitionen im Ausland, Nettoausgaben (BoP, aktuelle US$)'
}

# Rename the columns
df.rename(columns=translate_dic, inplace=True)

# Display the updated DataFrame
df.head()

,Name der Serie,"Inflation, Verbraucherpreise (jährlich %)",Marktkapitalisierung der gelisteten inländischen Unternehmen (% des BIP),Realer effektiver Wechselkursindex (2010 = 100),Wirtschaftswachstum (jährlich %),Bruttoanlageinvestitionen (% des BIP),Persönliche Überweisungen (aktuelle US$),"Direktinvestitionen im Ausland, Nettoausgaben (BoP, aktuelle US$)"
0,1997,1.939369,37.307261,110.190012,1.792161,22.650639,9473507979.141439,49529035003.912102
1,1998,0.911185,48.872578,110.367325,2.013933,22.798225,9108082670.55018,97004412840.271698
2,1999,0.585433,65.248414,106.891468,1.887261,23.038680,10088645451.1654,139402049693.11499
3,2000,1.440268,65.208158,99.680307,2.912503,23.114329,8662856855.468519,98172100562.192001
4,2001,1.983857,55.080363,99.664381,1.681468,21.778195,9184539370.74823,70242086898.7686

4- Exploren Sie die Daten

In [ ]:
df.head()

,Country Name,Country Code,Series Name,Series Code,1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Germany,DEU,"Inflation, Verbraucherpreise (jährlich %)",FP.CPI.TOTL.ZG,1.939369,0.911185,0.585433,1.440268,1.983857,1.420806,...,2.008491,1.504721,0.906798,0.514421,0.491749,1.509497,1.732168,1.445667,0.506690,3.14297
1,Germany,DEU,Marktkapitalisierung gelisteter inländischer U...,CM.MKT.LCAP.GD.ZS,37.307261,48.872578,65.248414,65.208158,55.080363,33.005468,...,42.139339,51.853443,44.702943,51.102210,49.455734,61.292740,44.129873,53.960843,59.382814,..
2,Germany,DEU,Realer effektiver Wechselkursindex (2010 = 100),PX.REX.REER,110.190012,110.367325,106.891468,99.680307,99.664381,100.721455,...,95.237431,97.586873,98.243745,92.539195,94.021337,94.804547,97.023625,95.446668,96.723677,97.611786
3,Germany,DEU,BIP-Wachstum (jährlich %),NY.GDP.MKTP.KD.ZG,1.792161,2.013933,1.887261,2.912503,1.681468,-0.197974,...,0.418498,0.437591,2.209543,1.491932,2.230000,2.680231,1.086025,1.055508,-4.569617,2.892602
4,Germany,DEU,Bruttoanlageinvestitionen (% des BIP),NE.GDI.FTOT.ZS,22.650639,22.798225,23.038680,23.114329,21.778195,20.121786,...,20.321093,19.901471,20.040274,20.019827,20.298302,20.411489,21.057200,21.368938,21.851697,21.954058

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
1997 [YR1997],7.0,8.428935e+09,1.846413e+10,1.792161,12.295004,37.307261,4.736754e+09,4.952904e+10
1998 [YR1998],7.0,1.515893e+10,3.624974e+10,0.911185,12.406079,48.872578,4.554041e+09,9.700441e+10
1999 [YR1999],7.0,2.135581e+10,5.218911e+10,0.585433,12.462970,65.248414,5.044323e+09,1.394020e+11
2000 [YR2000],7.0,1.526214e+10,3.670213e+10,1.440268,13.013416,65.208158,4.331428e+09,9.817210e+10
2001 [YR2001],7.0,1.134666e+10,2.619504e+10,1.681468,11.881026,55.080363,4.592270e+09,7.024209e+10
2002 [YR2002],7.0,3.904177e+09,6.973543e+09,-0.197974,10.771296,33.005468,5.063261e+09,1.720272e+10
2003 [YR2003],7.0,7.266732e+09,1.476876e+10,-0.700117,10.278776,43.132748,5.783143e+09,3.930084e+10
2004 [YR2004],7.0,3.096725e+09,5.386366e+09,1.175088,10.378373,42.443731,4.534839e+09,1.260740e+10
2005 [YR2005],7.0,1.451871e+10,3.315016e+10,0.731707,10.311804,42.226681,6.352831e+09,8.892534e+10
2006 [YR2006],7.0,2.295434e+10,5.533204e+10,1.577428,11.809671,54.683534,6.352522e+09,1.479753e+11
2007 [YR2007],7.0,2.210467e+10,5.253780e+10,2.298342,11.516493,61.455252,7.039581e+09,1.406535e+11
2008 [YR2008],7.0,1.618016e+10,3.653401e+10,0.959879,11.465674,29.652906,7.618232e+09,9.802467e+10
2009 [YR2009],7.0,1.643917e+10,3.717328e+10,-5.693836,9.790139,37.884971,7.668172e+09,9.973784e+10
2010 [YR2010],7.0,2.304645e+10,5.477495e+10,1.103809,11.861194,42.054669,7.341053e+09,1.466430e+11
2011 [YR2011],7.0,1.771916e+10,4.022128e+10,2.075175,12.148020,31.592442,8.062791e+09,1.079086e+11
2012 [YR2012],7.0,1.638053e+10,3.692746e+10,0.418498,11.164792,42.139339,7.790714e+09,9.908226e+10
2013 [YR2013],7.0,1.618143e+10,3.480862e+10,0.437591,10.703096,51.853443,9.988353e+09,9.329332e+10
2014 [YR2014],7.0,1.822696e+10,4.007287e+10,0.906798,11.124909,44.702943,1.004220e+10,1.075043e+11
2015 [YR2015],7.0,2.130074e+10,4.878586e+10,0.514421,10.755879,51.102210,9.124403e+09,1.308564e+11
2016 [YR2016],7.0,1.873572e+10,4.166698e+10,0.491749,11.264151,49.455734,9.674054e+09,1.118019e+11
2017 [YR2017],7.0,2.392900e+10,5.434681e+10,1.509497,11.545860,61.292740,1.084956e+10,1.458039e+11
2018 [YR2018],7.0,3.057102e+10,7.322330e+10,1.086025,11.394684,44.129873,9.037748e+09,1.959217e+11
2019 [YR2019],7.0,2.491692e+10,5.846334e+10,1.055508,11.407302,53.960843,8.886362e+09,1.566457e+11
2020 [YR2020],7.0,2.204117e+10,5.173224e+10,-4.569617,11.179193,59.382814,7.840115e+09,1.386080e+11

In [ ]:
# Schritt 1: Importieren Sie die erforderlichen Bibliotheken
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller, kpss
from klib import overview

# Schritt 2: Laden Sie den Datensatz
# Hier ersetzen Sie 'Ihr_Datensatz.csv' durch den tatsächlichen Dateipfad oder die URL Ihres Datensatzes.
df = pd.read_csv('Ihr_Datensatz.csv')

# Schritt 3: Übersetzen Sie die Spaltennamen
# Hier fügen Sie die übersetzten Spaltennamen gemäß Ihrer vorherigen Anfrage ein.

# Schritt 4: Daten explorieren
print(df.head())  # Zeigen Sie die ersten Zeilen des Datensatzes an
print(df.info())  # Überprüfen Sie die Informationen zum Datensatz

# Schritt 5: Daten bereinigen
# (Hinweis: Dieser Schritt kann je nach Datensatz unterschiedlich sein)
# Hier fügen Sie Code ein, um fehlende Werte zu behandeln, doppelte Werte zu entfernen, usw.

# Schritt 6: Füllen Sie den NaN-Wert mit dem Mittelwert
df.fillna(df.mean(), inplace=True)

# Schritt 7: Entfernen Sie doppelte Werte
df.drop_duplicates(inplace=True)

# Schritt 8: Welche Variablen sind numerisch?
numerische_variablen = df.select_dtypes(include=[np.number]).columns.tolist()

# Schritt 9: Welche Variablen sind kategorisch?
kategorische_variablen = df.select_dtypes(include=[np.object]).columns.tolist()

# Schritt 10: Überprüfen Sie die value_counts für jede Variable
for spalte in df.columns:
    print(f"{spalte}:\n{df[spalte].value_counts()}\n")

# Schritt 11: Visualisierung der Daten
# Hier fügen Sie Code ein, um Diagramme für alle Variablen anzuzeigen.

# Schritt 12: Erkennung und Entfernung von Ausreißern (Outliers)
# Hier fügen Sie Code ein, um Ausreißer zu erkennen und zu entfernen.

# Schritt 13: Wer ist der ältere Kontakt?
ältester_kontakt = df['Geburtsdatum'].min()

# Schritt 15: Überprüfen Sie die Normalitätsverteilung
# Hier fügen Sie Code ein, um die Normalitätsverteilung zu überprüfen.

# Schritt 16: Überprüfen Sie die Korrelation
# Verwenden Sie Seaborn und Klib, um die Korrelation zu überprüfen.

# Schritt 17: Splitting des Modells
X = df.drop('Zielvariable', axis=1)
y = df['Zielvariable']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Schritt 18: Trainieren und testen Sie das Modell mit der Test_size = 0,3
# Hier fügen Sie Code ein, um Modelle zu trainieren und zu testen.

# Schritt 19: Führen Sie das Modell mit sklearn aus: Lineare Regression, knn-Regression
# Hier fügen Sie Code ein, um lineare Regression und knn-Regression durchzuführen.

# Schritt 20: Plot the actual value und the predicted value
# Hier fügen Sie Code ein, um die tatsächlichen und vorhergesagten Werte zu plotten.

# Schritt 21: Berechnen Sie die mittleren quadratischen Fehler und R-Quadrat für jedes Modell
# Hier fügen Sie Code ein, um die Leistung der Modelle zu bewerten.

# AUFGABE 2:

# Schritt 1: Überprüfen Sie die Stationarität für jede Variable mit ADF und KPSS
for spalte in df.columns:
    adf_test = adfuller(df[spalte])
    kpss_test = kpss(df[spalte])

    print(f"{spalte} - ADF-Test: p-Wert = {adf_test[1]}, KPSS-Test: p-Wert = {kpss_test[1]}")

# Schritt 2: Führen Sie das lineare Regressionsmodell aus
# Hier fügen Sie Code ein, um ein lineares Regressionsmodell auszuführen.